<div class="container box">
	<div class="col-md-4 col-md-offset-4">
	<%= link_to "Add goal", new_neil_path, class: "btn btn-primary" %>
		<h1>Neil's goals</h1>
		<% counter = 0 %>
		<% @neils.each do |neil| %>
				<h2>
					<%= counter = counter + 1 %>) 
					<%= neil.description %>
				</h2>
				<p><%= time_ago_in_words(neil.created_at) %> ago</p>
				<p>
					<%= link_to "Edit", edit_neil_path(neil) %> |
					<%= link_to 'Destroy', neil, method: :delete, data: { confirm: 'Are you sure?' } %>
				</p>
		<% end %>
	</div>
</div>
