<div class="container box">		
	<div class="col-md-4 col-md-offset-4">
	<%= link_to "Add goal", new_barry_path, class: "btn btn-primary" %>
	<h1>Barry's Goals</h1>

	<% counter = 0 %>
	<% @barries.each do |barry| %>
			<h2>
				<%= counter = counter + 1 %>) 
				<%= barry.description %>
			</h2>
			<p><%= time_ago_in_words(barry.created_at) %> ago</p>
			<p>
				<%= link_to "Edit", edit_barry_path(barry) %> |
				<%= link_to 'Destroy', barry, method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
	<% end %>
	</div>
</div>

