<h1><%= link_to "Barry", user_path(1) %></h1>
<%= render 'form', obj: @barry %>

<h1><%= link_to "Anco", user_path(2) %></h1>
<%= render 'form', obj: @anco %>

<h1><%= link_to "Neil", user_path(3) %></h1>
<%= render 'form', obj: @neil %>

<h1><%= link_to "Justin", user_path(4) %></h1>
<%= render 'form', obj: @justin %>
