<div class="container box">
	<div class="col-md-4 col-md-offset-4">
		<%= link_to "Add goal", new_justin_path, class: "btn btn-primary" %>
		<h1>Justin's goals</h1>

		<% counter = 0 %>
		<% @justins.each do |justin| %>

				<h2>
					<%= counter = counter + 1 %>) 
					<%= justin.description %>
				</h2>
				<p><%= time_ago_in_words(justin.created_at) %> ago</p>
				<p>
					<%= link_to "Edit", edit_justin_path(justin) %> |
					<%= link_to 'Destroy', justin, method: :delete, data: { confirm: 'Are you sure?' } %>
				</p>
		<% end %>
	</div>
</div>
