<div class="container box">
	<div class="col-md-4 col-md-offset-4">
	<%= link_to "Add goal", new_anco_path, class: "btn btn-primary" %>
		<h1>Anco's goals</h1>

		<% counter = 0 %>
		<% @ancos.each do |anco| %>
				<h2>
				<%= counter = counter + 1 %>) 
				<%= anco.description %>
				</h2>
				<p><%= time_ago_in_words(anco.created_at) %> ago</p>
				<p>
					<%= link_to "Edit", edit_anco_path(anco) %> |
					<%= link_to 'Destroy', anco, method: :delete, data: { confirm: 'Are you sure?' } %>
				</p>
		<% end %>
	</div>
</div>
