<% counter = 0 %>

<% @goals.each do |goal| %>
	<h4><%= counter = counter + 1 %>) <%= goal.description %></h4>
	<p>updated <%= time_ago_in_words(goal.updated_at) %> Ago</p>

			
	<p>

		<%= link_to "Edit", edit_user_goal_path(@user, goal) %> | 
		<%= link_to "Delete", user_goal_path(@user, goal), method: :delete, class: "button", data: { confirm: "Are you sure?"} %>
	</p>
<% end %>
